
.env
**/.env
apps/extension/.wxt
apps/extension/dist
apps/server/.data
apps/server/dist
apps/web/playwright-report
apps/web/dist
apps/web/test-results
apps/extension/playwright-report
apps/extension/test-results
apps/desktop/dist
apps/desktop/playwright-report
apps/desktop/test-results
docs/.structurizr
.playwright-mcp
apps/desktop2/dist
apps/web2/dist
